<ion-view style="" title="Feeding/Foraging">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Behaviour</span>
                <select>
                    <option>Pursuit For Food</option>
                    <option>Green Vegetation</option>
                    <option>Berries</option>
                    <option>Fishing</option>
                    <option>Human food</option>
                    <option>Garbage</option>
                </select>
            </label>
        </form>
        <a class="button button-positive  button-block" id="feedingForaging-button16" ui-sref="focalTabsController.focal">Record Behaviour</a>
    </ion-content>
</ion-view>