<ion-focalTabsController title="Human">
    <ion-content padding="true" class="has-header">
        <h1 id="human-heading3" style="color:#000000;">Zones</h1>
        <ion-list>
            <ion-item>Zone 1</ion-item>
            <ion-item>Zone 2</ion-item>
            <ion-item>Zone 3</ion-item>
        </ion-list>
        <form class="list"></form>
        <button id="human-button6" class="button button-positive  button-block">Add Zone</button>
        <div class="button-bar"></div>
    </ion-content>
</ion-focalTabsController>