<ion-view style="" title="Scanning">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">Bear Info</ion-item>
            <ion-item style="" ui-sref="tabsController.bear1Specifications">Zone #1</ion-item>
            <ion-item style="">Zone #2</ion-item>
            <ion-item style="">Zone #3</ion-item>
        
		</ion-list>
        <a class="button button-positive  button-block" id="focal-button36" >Add Zone</a>
        <a class="button button-assertive  button-block icon ion-android-exit" id="focal-button43">&nbsp;End Session</a>
    </ion-content>
</ion-view>