<ion-view style="" title="Set Session Variables Cont">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list"></form>
        <form style="" class="list">
			
					
        <h2 style="">Environment Variables</h2>
		<ion-item style="" class="item-divider">Water</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Water Body</span>
                <select>
                    <option>Not Selected</option>
                    <option>River</option>
                    <option>Lake</option>
                    <option>Estuary</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Water Level</span>
                <select>
                    <option>Not Selected</option>
                    <option>High</option>
                    <option>Medium-High</option>
                    <option>Medium</option>
                    <option>Medium-Low</option>
                    <option>Low</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Water Flow</span>
                <select>
                    <option>Not Selected</option>
                    <option>Fast</option>
                    <option>Medium-Fast</option>
                    <option>Medium</option>
                    <option>Medium-Slow</option>
                    <option>Slow</option>
                </select>
            </label>
			
			<div style="width: 283px; height: 10px;" class="spacer"></div>
			<ion-item style="" class="item-divider">Weather</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Sky</span>
                <select>
                    <option>Clear</option>
                    <option>Partly Cloudy</option>
                    <option>Heavy clouds</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Precipitation</span>
                <select>
                    <option>Dry</option>
                    <option>Light Rain</option>
                    <option>Heavy Rain</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Wind</span>
                <select>
                    <option>Calm</option>
                    <option>Light Wind</option>
                    <option>Strong Wind</option>
                </select>
            </label>
			
			<div style="width: 283px; height: 15px;" class="spacer"></div>
			<h2 style="">Visibility</h2>
            <label style="" class="item item-select">
                <span class="input-label">Area Visibility</span>
                <select>
                    <option>Excellent</option>
                    <option>Good</option>
                    <option>Partly Obscured</option>
                    <option>Mostly Obscured</option>
                </select>
            </label>
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <h5 style="">If Obscured Specify Reason</h5>
            <label style="" class="item item-select">
                <span class="input-label">Reason</span>
                <select>
                    <option>None</option>
                    <option>Dust-vehicles</option>
                    <option>Human obstruction</option>
                    <option>Fog/ Nature</option>
                </select>
            </label>
            <div style="width: 283px; height: 30px;" class="spacer"></div>
            
			<h2 style="">Food Sources</h2>
			
			
			<ion-item style="" class="item-divider">Add Food Source</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Food Source</span>
                <select>
                    <option>Fish</option>
                    <option>Berries</option>
                    <option>Green Vegetation</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Availability</span>
                <select>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Information Source</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Comment</span>
                <input placeholder="Note Species " type="text">
            </label>
            <button class="button button-balanced  button-block icon ion-plus" id="newSessionFoodSources-button15">&nbsp;Add Food Source</button>
			
			<div style="width: 283px; height: 30px;" class="spacer"></div>
			
            <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionObserverSVisibility-button33" ui-sref="observationMode">Next</a>
        </form>
    </ion-content>
</ion-view>