/* Empty. Add your own CSS if you like */
.center {
    text-align: center;
}

.commentPopup {
	text-align: center;
	background-color: red;
}

/*improve sho/hide speed fix*/
.ng-hide.ng-hide-animate{
     display: none !important;
}