/* Empty. Add your own CSS if you like */
.center {
    text-align: center;
}

.commentPopup {
	text-align: center;
	background-color: red;
}

/*improve sho/hide speed fix*/
.ng-hide.ng-hide-animate{
    display: none !important;
}

/*Validation Style*/

.error-container {
	margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
	border-radius: 15px;
	padding: 10px 16px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	vertical-align: middle;
	color: #D8000C;
	background-color: #FFBABA;
}
 
.error.i { 
	vertical-align: middle;
	font-size: 80px;
}
 
.last-error-container > .error {
	padding: 10px 16px 0;
}
 
.has-errors {
	border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
	border-bottom: 3px solid green;
}