<ion-view style="" title="Add new Bear">
	<ion-nav-title>
		<div width=100% class="dashboardHeader" ng-controller="timerControl">
			<div class="row">
                <div class="col text-right">
                    Bear
                </div>
                <div class="col text-left">                
                    <span style="color:{{color}}">
                        {{value}}
                    </span>
                </div>
            </div>
		</div>
	</ion-nav-title>
    <ion-content class="has-header container" overflow-scroll="true" padding="true">
        <div class="spacer spacer-20"></div>
        <h2 class="center">Add new Bear</h2>
        <div ng-show="false">
            Session id : {{Session.id}} <br>
            Bear Index : {{Bear.index}} <br>
            Bear id : {{Bear.id}} <br>
            Is focal bear : {{Bear.isFocal}} <br>
            Bear Name : {{Bear.name}} <br>
            Zone : {{Bear.zone}} <br>
            Bear Size : {{Bear.size}} <br>
            Bear Age : {{Bear.age}} <br>
            Bear gender : {{Bear.gender}} <br>
            Bear Species : {{Bear.species}} <br>
            MarkDescription : {{Bear.markDescription}} <br>
            Bear Fur Colour : {{Bear.furColour}} <br>
            Bear Paw Measure : {{Bear.pawMeasured}} <br>
            Bear Cubs : {{Bear.cubs}} <br>
            Bear Cubs Fur Colour ; {{Bear.cubFurColour}} <br>
            Bear Cubs Age : {{Bear.cubAge}} <br>
            Bear Comment : {{Bear.comment}} <br>
            <div ng-show="debug">
                <br>Select session <br>
                Session id insert : {{sIdInsertResult}} <br>
                <button ng-click="testInsert()">Insert Session Id</button>
                <button ng-click="addBear()">Insert Bear</button><br>
                Adding bear Result : {{bearInsertResult}}
                <br><br>
                <button ng-click="testSessionId()">Select from bears table</button><br>
                Number of rows in bears table : {{ numret }} <br>
                Result : {{result}} <br>
            </div>

        </div>
        <form style="" class="list">
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <ion-item style="" class="item-divider list-head" ng-show="FBearSet.isFocalPresent == ''&& Session.observationMode == 'Focal' ">Bear Type</ion-item>

            <ion-checkbox ng-model="Bear.isFocal" ng-show="FBearSet.isFocalPresent == ''&& Session.observationMode == 'Focal' ">Focal</ion-checkbox>
            <ion-item style="" class="item-divider list-head">Name of Bear</ion-item>
            <label style="" class="item item-input">
                <input placeholder="E.g. Alex" type="text" ng-model="Bear.name">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Accuracy</span>
                <input placeholder="1 - 10" type="number" ng-model="Bear.accuracy">
            </label>
            
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <ion-item style="" class="item-divider list-head">Location</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Bear Location ({{Session.zoneSchema}})</span>
                <select ng-model="Bear.zone">
                    <option ng-repeat="z in zoneList">{{z}}</option>
                </select>

            </label>
            <div class="row item-divider expando-pane">
                <div class="col col-center"><h4>Zone Mapping</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneSchema, 'button button-small button-icon icon ion-ios-minus-outline':showZoneSchema}" ng-click="showZoneSchema=!showZoneSchema"></a>
                </div>
            </div>
            <div ng-model="showZoneSchema" ng-show="showZoneSchema" class="center" style="text-align: center;">
                <img class="padding-top-20" ng-src="{{zoneImgURI}}">
                    </div>

            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <ion-item style="" class="item-divider list-head">Other Specs</ion-item>

            <label style="" class="item item-select">
			<span class="input-label">Size</span>
                <select ng-model="Bear.size">
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                </select>
            </label>				
            <label style="" class="item item-select">
                <span class="input-label">Bear Species</span>
                <select ng-model="Bear.species">
                    <option>Unknown</option>
                    <option>Black</option>
					<option>Grizzly</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Gender</span>
                <select ng-model="Bear.gender">
                    <option>Unknown</option>
					<option>Large Male</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Female with cubs</option>
                </select>
            </label>

            <label style="" class="item item-select">
                <span class="input-label">Bear Age</span>
                <select ng-model="Bear.age">
                    <option>Unkown</option>
					<option>Adult</option>
                    <option>Subadult</option>
                    <option>Depandant</option>
                </select>
            </label>
			
			<label style="" class="item item-input">
                <span class="input-label">Mark Description</span>
                <input placeholder="optional" type="text" ng-model="Bear.markDescription">
            </label>
			

            <label style="" class="item item-select">
                <span class="input-label">Fur Colour</span>
                <select ng-model="Bear.furColour" >
                    <option>Blonde</option>
                    <option>Light Brown</option>
                    <option>brown</option>
                    <option>Dark Brown</option>
                    <option>Other</option>                    
                </select>
            </label>
            <div ng-show="bearFurColour == 'Other' ">
                <label style="" class="item item-input">
                    <span class="input-label">Fur Colour</span>
                    <input type="text" ng-model="Bear.furColour_other">
                </label>            
            </div>

            <ion-checkbox ng-model="Bear.pawMeasured">Paw Measurement Taken</ion-checkbox>
			
			<div style="width: 283px; height: 30px;" class="spacer"></div>
            <ion-item style="" class="item-divider list-head">Cubs</ion-item>
			<label style="" class="item item-input">
                <span class="input-label">Number of cubs</span>
                <input placeholder="(if present)" type="number" ng-model="Bear.cubs">
            </label>
			<label style="" class="item item-select">
			<span class="input-label">Age of Cubs</span>
                <select ng-model="Bear.cubAge">
                    <option>Unknown</option>
                    <option>COTY</option>
                    <option>YRLG</option>
                    <option>2nd YRLG</option>
                    <option>3rd YRLG</option>                    					
                </select>
            </label>


            <label style="" class="item item-select">
                <span class="input-label">Cub Fur colour</span>
                <select ng-model="Bear.cubFurColour" >
                    <option>Blonde</option>
                    <option>Light Brown</option>
                    <option>brown</option>
                    <option>Dark Brown</option>
                    <option>Other</option>                    
                </select>
            </label>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Comment</span><textarea  ng-model="Bear.comment" placeholder=""> </textarea>
            </label>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <a style="" class="button button-balanced  button-block ion-android-checkbox-outline" ng-click="addBear()">&nbsp; Save Bear</a>
            <a style="" class="button button-assertive  button-block  ion-backspace-outline" id="addNewBear-button21" ui-sref="tab.bear">&nbsp; Cancel</a>
        </form>
                <div class="spacer spacer-40"></div>
    </ion-content>
</ion-view>
