<ion-view style="" title="Add Comment">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">March 11 2016 13:43 J. Cumiskey</ion-item>
        </ion-list>
        <ion-list style="">
            <label style="" class="item item-select">
                <span class="input-label">Log</span>
                <select>
                    <option>None</option>
                    <option>1) Bear #1 Spotted</option>
                    <option>2) Bear #1 Sex Identified</option>
                    <option>3) Bear #2 Spotted</option>
                </select>
            </label>
        </ion-list>
        <div style="width: 283px; height: 32px;" class="spacer"></div>
        <div style="">
            <p>Description:</p>
        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label"></span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button class="button button-balanced  button-block icon ion-plus" id="addComment-button23">Add Picture</button>
        <a class="button button-royal  button-block" id="addComment-button22" ui-sref="reviewSession2">Done</a>
    </ion-content>
</ion-view>