<ion-view style="" title="Additional Observers">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <div style="text-align: center;">
                <img src="img/gg8YfNsSMWWK3EPG25FM_Picture1.jpg" height="auto" width="100%">
            </div>
            <div style="width: 283px; height: 44px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Name:</span>
                <input placeholder="First Initial &amp; Surname" type="text">
            </label>
        </form>
        <div style="" class="button-bar"></div>
        <div style="" class="button-bar">
            <button style="" class="button button-balanced  button-block icon ion-android-add" id="additionalObservers-button10">Add</button>
        </div>
        <a style="" class="button button-positive  button-block icon-left ion-android-arrow-back" id="additionalObservers-button11" ui-sref="newSessionObservers">Back</a>
    </ion-content>
</ion-view>