<ion-view style="" title="Bear #1 Specifications">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list"></form>
        <h3 style="">Bear #1</h3>
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Bear Visibility</span>
                <select>
                    <option></option>
                    <option>Excellent</option>
                    <option>Good</option>
                    <option>Partly Obscured</option>
                    <option>Mostly Obscured</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Species</span>
                <select>
                    <option>Black</option>
                    <option>Grizzly</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Gender</span>
                <select>
                    <option>Large Male</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Female w/cubs</option>
                    <option>Unknown</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Age</span>
                <select>
                    <option>Adult</option>
                    <option>Subadult</option>
                    <option>Dependent</option>
                    <option>Unkown</option>
                </select>
            </label>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <ion-item style="" class="item-divider">Number of Bears present</ion-item>
            <label style="" class="item item-input">
                <input placeholder="" type="number">
            </label>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <label style="" class="item item-select">
                <span class="input-label">Bear Location</span>
                <select>
                    <option>Zone A</option>
                    <option>Zone B</option>
                    <option>Zone C</option>
                    <option>Zone D</option>
                    <option>Zone E</option>
                </select>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Description of Location</span>
                <input placeholder="" type="text">
            </label>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <ion-list style="">
                <ion-item style="" class="item-divider">Bear Activity</ion-item>
                <ion-item style="" ui-sref="focalTabsController.feedingForaging">Feeding/Foraging</ion-item>
                <ion-item style="" ui-sref="focalTabsController.nonInteractive">Non-Interactive</ion-item>
                <ion-item style="" ui-sref="focalTabsController.bearBearInteraction">Bear-bear Interaction</ion-item>
                <ion-item style="" ui-sref="focalTabsController.bearHumanInteraction">Bear-Human Interaction</ion-item>
            </ion-list>
            <div style="width: 283px; height: 41px;" class="spacer"></div>
            <ion-radio style="">Other</ion-radio>
            <label style="" class="item item-input">
                <span class="input-label">Description</span><textarea placeholder=""> </textarea>
            </label>
            <div style="width: 283px; height: 39px;" class="spacer"></div>
            <button style="" class="button button-assertive  button-block" id="bear1Specifications-button38">Bear Departed</button>
            <a style="" class="button button-balanced  button-block icon-left ion-android-arrow-back" id="bear1Specifications-button14" ui-sref="focalTabsController.focal">Back</a>
        </form>
    </ion-content>
</ion-view>