<ion-view can-swipe-back="false" title="{{Bear.name}}">
    <ion-content class="has-header container" overflow-scroll="true" padding="true">
        <div style="width: 283px; height: 37px;" class="spacer"></div>
        

        <ion-list style="">
            <ion-item style="" class="item-divider">Description</ion-item>
        <div class = "row">
            <div class = "col">
            Session id : {{session_id}} <br>
            Is this focal bear: {{Bear.isFocal}} <br>
            Bear Name: {{Bear.name}} <br>
            Bear Index: {{Bear.index}}<br>
            Zone : {{Bear.zone}} <br>
            Bear Size : {{Bear.size}} <br>
            Bear Species : {{Bear.species}} <br>
            Bear gender : {{Bear.gender}} <br>
            </div>
            <div class = "col">
            Baer Age : {{Bear.age}} <br>
            MarkDescription : {{Bear.markDescription}} <br>
            Bear Fur Colour : {{Bear.furColour}} <br>
            Bear Paw Measure : {{Bear.pawMeasured}} <br>
            Bear Cubs : {{Bear.cubs}} <br>
            Bear Cubs Age : {{Bear.cubAge}} <br>
            Bear Cubs Fur Colour ; {{Bear.cubFurColour}} <br>
            Bear Comment : {{Bear.comment}} <br>
            </div>
        </div>
        <button class="button button-positive  button-block icon-right ion-android-arrow-forward" ui-sref="tab.changeSpecs" >Modify Bear Specs</button>
        </ion-list>
    <div ng-show="{{Bear.isFocal}}">
            <h2 style="">Behaviour</h2>
            <div style="width: 283px; height: 30px;" class="spacer"></div>
            <ion-item style="" class="item-text-wrap">Ongoing Behaviour
                <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <div>
                        <div ng-repeat="(index, Object) in Bear.behaviour" class="item item-button-right">
                            {{Object.category}} - {{Object.description}} - {{Object.time}}
                            <a class="button button-icon icon ion-close-circled" ng-click="removeBehaviour({{index}}, '{{Object.category}}', '{{Object.description}}','{{Object.time}}')"></a>
                        </div>
                        <div ng-show="Bear.isFishing" ng-repeat="(index, Object) in Bear.fishing | limitTo:1:Bear.fishing.length - 1"  class="item item-button-right">
                            Feeding or Foraging - Fishing - {{Object.method}} - {{Object.suboption}} - {{Object.tally}} - {{Object.time}}
                            <a class="button button-icon icon ion-close-circled" ng-click="onFishing()"></a>
                        </div>
                    </div>
        	</ion-item>


            <div style="width: 283px; height: 30px;" class="spacer"></div>
            <ion-checkbox ng-model="behaviourHabituation.checked">Habituation Level</ion-checkbox>
            <div ng-show="behaviourHabituation.checked">
                <ion-item style="" class="item-text-wrap">Select Habituation Level
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in habituationLevel">
                        <button class="button button-royal button-outline" ng-click="addBehaviour('Habituation', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>        
            </div>


            <ion-checkbox ng-model="behaviourFeeding.checked">Feeding/Foraging</ion-checkbox>
            <div ng-show="behaviourFeeding.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in feeding">
                        <button class="button button-energized button-outline"  ng-click="addBehaviour('Feeding or Foraging', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                    <lable>
                        <button class="button button-energized button-outline" ng-click="onFishing()">Fishing</button>
                    </lable>
                    
                </ion-item>
                <ion-item style="" class="item-text-wrap" ng-show="Bear.isFishing">Fishing Sub categories<br>
                    <label style="" class="item item-select">
                        <span class="input-label">Fishing Method</span>
                        <select ng-model="Bear.fishingMethod" ng-change="updateFish(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)">
                            <option>Scaevnging</option>
                            <option>Weir Scavenging</option>
                            <option>Pick Water</option>
                            <option>Snorkeling</option>
                            <option>Fishing from log</option>
                            <option>Pin</option>
                            <option>Plunge</option>
                            <option>Lope</option>
                        </select>
                    </label>
                    
                    <label style="" class="item item-select">
                    <span class="input-label">Fish Suboption</span>
                    <select ng-model="Bear.fishingSuboption"  ng-change="updateFish(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)" >
                        <option>Caught Alive</option>
                        <option>Caught Dead</option>
                        <option>Consuming</option>
                        <option>Carrying</option>
                        <option>Caching</option>
                        </select>
                    </label>
            <div class="item item-input-inset">
                        
                    <span class="input-label">Number of fish caught - {{Bear.tally}}</span>
                        <a class="button button-icon icon ion-plus button-outline" ng-click="addTally(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)"></a>
                        <a class="button button-icon icon ion-minus button-outline" ng-click="removeTally(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)"></a>
                    </div>
                    
                    
                </ion-item>

                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>


            <ion-checkbox ng-model="behaviourNI.checked">Non-Interactive</ion-checkbox>
            <div ng-show="behaviourNI.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in nonInteractive">
                        <button class="button button-calm button-outline" ng-click="addBehaviour('Non-Interactive', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>

            <ion-checkbox ng-model="behaviournBBI.checked">Bear-Bear Interactive</ion-checkbox>        
            <div ng-show="behaviournBBI.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in bBInteraction">
                        <button class="button button-royal button-outline" ng-click="addBehaviour('Bear-Bear Interactive', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>


            <ion-checkbox ng-model="behaviournBHI.checked">Bear-human Interaction</ion-checkbox>        
            <div ng-show="behaviournBHI.checked">    
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in bHInteraction">
                        <button class="button button-royal button-outline" ng-click="addBehaviour('Bear-human Interaction', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>
            <ion-checkbox ng-model="behaviournHBI.checked">Human-bear Interaction</ion-checkbox>        
            <div ng-show="behaviournHBI.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in hBinteraction">
                        <button class="button button-royal button-outline" ng-click="addBehaviour('Human-bear Interaction', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>                
            </div>
        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <div style="width: 283px; height: 30px;" class="spacer"></div>
        </ion-content>
    </div>
</ion-view>