<ion-view style="" title="Bear 1">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="width: 283px; height: 37px;" class="spacer"></div>
        

        <ion-list style="">
            <ion-item style="" class="item-divider">Description</ion-item>
        Name - {{ bear.name }} <br>
        Location - {{ bear.location }}<br>
        Habituation Level - {{ bear.habituationLevel }}<br>
        Species - {{ bear.species }}<br>
        Gender - {{ bear.gender }}<br>
        Age - {{ bear.age }}<br>
        Fur Colour - {{ bear.furColour }}
        <button class="button button-positive  button-block icon-right ion-android-arrow-forward" ui-sref="tab.changeSpecs" >Modify Bear Specs</button>
        </ion-list>
        
        <h2 style="">Behaviour</h2>
        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <ion-item style="" class="item-text-wrap">Ongoing Behaviour
            <div style="width: 283px; height: 10px;" class="spacer"></div>
        </ion-item>

        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <ion-item style="" class="item-text-wrap">Habituation Level
            <div style="width: 283px; height: 10px;" class="spacer"></div>
            <lable ng-repeat="behaviour in habituationLevel">
                <button class="button button-royal button-outline">{{ behaviour }}</button>
            </lable>
        </ion-item>        

        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <ion-item style="" class="item-text-wrap">Feeding/Foraging
            <div style="width: 283px; height: 10px;" class="spacer"></div>
            <lable ng-repeat="behaviour in feeding">
                <button class="button button-energized button-outline">{{ behaviour }}</button>
            </lable>
        </ion-item>

        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <ion-item style="" class="item-text-wrap">Non-Interactive
            <div style="width: 283px; height: 10px;" class="spacer"></div>
            <lable ng-repeat="behaviour in nonInteractive">
                <button class="button button-calm button-outline">{{ behaviour }}</button>
            </lable>
        </ion-item>

        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <ion-item style="" class="item-text-wrap">Bear-bear Interaction
            <div style="width: 283px; height: 10px;" class="spacer"></div>
            <lable ng-repeat="behaviour in bBInteraction">
                <button class="button button-royal button-outline">{{ behaviour }}</button>
            </lable>
        </ion-item>

        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <ion-item style="" class="item-text-wrap">Bear-human Interaction
            <div style="width: 283px; height: 10px;" class="spacer"></div>
            <lable ng-repeat="behaviour in bHInteraction">
                <button class="button button-royal button-outline">{{ behaviour }}</button>
            </lable>
        </ion-item>

        <div style="width: 283px; height: 30px;" class="spacer"></div>
        <ion-item style="" class="item-text-wrap">Human-bear Interaction
            <div style="width: 283px; height: 10px;" class="spacer"></div>
            <lable ng-repeat="behaviour in hBinteraction">
                <button class="button button-royal button-outline">{{ behaviour }}</button>
            </lable>
        </ion-item>                

    </ion-content>
</ion-view>