<ion-view style="" title="Bear-bear Interaction">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Behaviour</span>
                <select>
                    <option>Alert/Vigilance</option>
                    <option>Retreat</option>
                    <option>Bear Approach</option>
                    <option>Aggression</option>
                    <option>Enticing</option>
                </select>
            </label>
        </form>
        <a class="button button-positive  button-block" id="bearBearInteraction-button39" ui-sref="focalTabsController.focal">Record Behaviour</a>
    </ion-content>
</ion-view>