<ion-view style="" title="Add new Bear">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list"></form>
        <h3 style="">Bear Specifications</h3>
        <form style="" class="list">
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <ion-item style="" class="item-divider">Name of Bear</ion-item>
            <label style="" class="item item-input">
                <input placeholder="Bear #" type="text">
                    </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Location</span>
                <select>
                    <option>Zone 1</option>
                    <option>Zone 2</option>
                    <option>Zone 3</option>
                    <option>Zone 4</option>
                    <option>Zone 5</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Habituation Level</span>
                <select>
                    <option>Unknown</option>
                    <option>Habituated</option>
                    <option>Non-Habituated</option>
                    <option>Subadult</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Species</span>
                <select>
                    <option>Unknown</option>
                    <option>Black</option>
                    <option>Grizzly</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Gender</span>
                <select>
                    <option>Unknown</option>
                    <option>Large Male</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Female with cubs</option>
                    
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Bear Age</span>
                <select>
                    <option>Unkown</option>
                    <option>Adult</option>
                    <option>Subadult</option>
                    <option>COTY</option>
                    <option>YRLG</option>
                    <option>2nd YRLG</option>
                    
                </select>
            </label>
            
            
            <label style="" class="item item-input">
                <span class="input-label">Mark Description</span>
                <input placeholder="optional" type="text">
                    </label>
            
            <label style="" class="item item-input">
                <span class="input-label">Fur colour</span>
                <input placeholder="" type="text">
            </label>
            <ion-checkbox>Paw Measurement Taken</ion-checkbox>
            
            <div style="width: 283px; height: 30px;" class="spacer"></div>
            <ion-item style="" class="item-divider">Cubs</ion-item>
            <label style="" class="item item-input">
                <span class="input-label">Number of cubs</span>
                <input placeholder="(if present)" type="text">
                    </label>
            <label style="" class="item item-select">
                <span class="input-label">Age of Cubs</span>
                <select>
                    <option>Unknown</option>
                    <option>COTY</option>
                    <option>YRLG</option>
                    <option>2nd YRLG</option>
                </select>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Cub Fur colour</span>
                <input placeholder="" type="text">
                    </label>
            
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Comment</span><textarea placeholder=""> </textarea>
            </label>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="addNewBear-button20" ui-sref="focalTab.bearInfo">Update</a>
            <a style="" class="button button-assertive  button-block icon-right ion-android-arrow-forward" id="addNewBear-button21" ui-sref="focalTab.bearInfo">Cancel</a>
        </form>
    </ion-content>
</ion-view>