<ion-view style="" title="Focal">
    <div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button button-icon icon-left ion-ios-close" ng-click = "showConfirm()">End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="" >
            <ion-item style="" class="item-divider">Bears in the Session {{bearNum}}</ion-item>
            <div ng-repeat="(index, Object) in BearList.add">    
            <ion-item style="" ng-click="changeBear({{index}})" ui-sref="tab.bearInfo">{{Object.name}}</ion-item>
            </div>
        </ion-list>
        <div style="width: 283px; height: 30px;" class="spacer"></div>
        
        <a class="button button-positive  button-block" id="focal-button36" ui-sref="tab.addNewBear">Add Bear</a>
    </ion-content>
</ion-view>