<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Edit Comment</h1>
		<div class="buttons">
			<a class="button button-icon icon ion-close-circled" ng-click="closeModal()"></a>
		</div>
	</ion-header-bar>
	<ion-content>
		<div style="height: 30px;" class="spacer"></div>  
		<div class="row">
			<div class="col col-center text-center">
				<h1 style="color: red;">WARNING</h1>
				<h3>Unsaved text detected in comment field</h3>
			</div>
	   	</div>
	   	<div style="height: 40px;" class="spacer"></div>  
	   	<div class="row">
	   		<div class="col col-bottom text-center">
	   			<button class="button button-balanced" ng-click="editSave()">Save Comment</button>
	   			<button class="button button-assertive" ng-click="editClear()">Discard Comment</button>
	   		</div>
	   	</div>
	</ion-content>
</ion-modal-view>