<ion-view style="" title="Environment">
	<ion-nav-title>
		<div width=100% class="dashboardHeader" ng-controller="timerControl">
			Environment 
			<span style="color:{{color}}">
				{{value}}
			</span>
		</div>
	</ion-nav-title>
    <div>
        <ion-nav-bar class="bar-dark">
            <ion-nav-buttons side="right">
                <a class="button icon-left ion-log-out button-small button-assertive" ng-click = "showConfirm()">&nbsp;End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header container" overflow-scroll="true" padding="true">
        <form class="list">
            <div class="spacer spacer-10"></div>
            <div class="row item-divider expando-pane">
                <div class="col col-center"><h4>Water</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showWater, 'button button-small button-icon icon ion-ios-minus-outline':showWater}" ng-click="showWater=!showWater"></a>
                </div>
            </div>
            <div ng-model="showWater" ng-show="showWater">
            <label class="item item-select">
                <span class="input-label">Water Body:</span>
                <select ng-model="Enviro.waterBody" ng-change="Enviro.save(Session.id)">
                    <option selected disabled></option>
                    <option>River</option>
                    <option>Lake</option>
                    <option>Estuary</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Water Level:</span>
                <select ng-model="Enviro.waterLevel" ng-change="Enviro.save(Session.id)"> 
                    <option selected disabled></option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Water Flow:</span>
                <select ng-model="Enviro.waterFlow" ng-change="Enviro.save(Session.id)">
                    <option selected disabled></option>
                    <option>Cascade</option>
                    <option>Rapid</option>
                    <option>Riffle</option>
                    <option>Glide</option>
                    <option>Pool</option>
                    <option>Woody debris jam</option>
                </select>
            </label>
            
            <label class="item item-select">
                <span class="input-label">Water Clarity:</span>
                <select ng-model="Enviro.waterClarity" ng-change="Enviro.save(Session.id)">
                    <option selected disabled></option>
                    <option value="0">Sparkling clear</option>
                    <option value="1">Water appears dull, slight discoloration</option>
                    <option value="2">Bottom visible to approx. 3ft, but not distinct</option>
                    <option value="3">Bottom visible to approx. 1ft, but not distinct</option>
                    <option value="4">Cannot see bottom</option>
                </select>
            </label>
            </div><!--end water options-->
            
            <div class="spacer spacer-20"></div>
            <div class="row item-divider expando-pane">
                <div class="col col-center"><h4>Weather</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showWeather, 'button button-small button-icon icon ion-ios-minus-outline':showWeather}" ng-click="showWeather=!showWeather"></a>
                </div>
            </div>           
            <div ng-model="showWeather" ng-show="showWeather">
            <label class="item item-select">
                <span class="input-label">Cloud Cover:</span>
                <select ng-model="Enviro.cloudCover" ng-change="Enviro.save(Session.id)">
                    <option selected disabled></option>
                    <option>0%</option>
                    <option>1% - 50%</option>
                    <option>51% - 99%</option>
                    <option>100%</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Precipitation:</span>
                <select ng-model="Enviro.precipitation" ng-change="Enviro.save(Session.id)">
                    <option selected disabled></option>
                    <option>None</option>
                    <option>Light drizzle</option>
                    <option>Rain</option>
                    <option>Heavy Rain</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Wind:</span>
                <select ng-model="Enviro.wind" ng-change="Enviro.save(Session.id)">
                    <option selected disabled></option>
                    <option>Calm</option>
                    <option>Light air</option>
                    <option>Light breeze</option>
                    <option>Gentle breeze</option>
                    <option>Moderate breeze</option>
                    <option>Fresh breeze</option>
                    <option>Strong breeze</option>
                    <option>High wind moderate gale</option>
                    <option>Gale</option>
                    <option>Strong/severe gale</option>
                    <option>Storm</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Wind direction:</span>
                <select ng-model="Enviro.windDirection" ng-change="Enviro.save(Session.id)">
                    <option selected disbaled></option>
                    <option>N</option>
                    <option>S</option>
                    <option>E</option>
                    <option>W</option>
                    <option>NW</option>
                    <option>NE</option>
                    <option>SE</option>
                    <option>SW</option>
                    <option>NNW</option>
                    <option>NNE</option>
                    <option>SSE</option>
                    <option>SSW</option>
                    <option>WNW</option>
                    <option>ENE</option>
                    <option>WSW</option>
                    <option>ESE</option>
                </select>
            </label>

            <div class="item item-input-inset">
                <label class="item item-input-wrapper">     
                <span class="input-label">Temperature:</span>
                <input placeholder="&#176;C" type="number" ng-model="Enviro.temp">
                </label>
                <button class="button button-balanced icon ion-ios-upload-outline" ng-click="Enviro.save(Session.id)">&nbsp; Update</button>
            </div>

            <div class="item item-input-inset">
                <label class="item item-input-wrapper">     
                    <span class="input-label">Humidity:</span>
                    <input placeholder="0 - 100%" type="number" ng-model="Enviro.humid">
                </label>
                <button class="button button-balanced icon ion-ios-upload-outline" ng-click="Enviro.save(Session.id)">&nbsp; Update</button>
            </div>
            </div><!--end weather options-->

            <div class="spacer spacer-20"></div>      
            <div class="row item-divider expando-pane">
                <div class="col col-center"><h4>Area Visibility</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showVisibility, 'button button-small button-icon icon ion-ios-minus-outline':showVisibility}" ng-click="showVisibility=!showVisibility"></a>
                </div>
            </div>             
            <div ng-model="showVisibility" ng-show="showVisibility">
                <label class="item item-select">
                    <span class="input-label">Quality:</span>
                    <select ng-model="Enviro.visibility" ng-change="Enviro.save(Session.id)">
                        <option selected disabled></option>
                        <option>Excellent</option>
                        <option>Good</option>
                        <option>Partly obscured</option>
                        <option>Mostly obscured</option>
                    </select>
                </label>
                       
                <div ng-show="Enviro.visibility == 'Partly obscured' || Enviro.visibility == 'Mostly obscured'">
                    <label class="item item-select">
                        <span class="input-label">Obstruction</span>
                        <select ng-model="Enviro.obscuredReason" ng-change="Enviro.save(Session.id)">
                            <option selected disabled></option>
                            <option>None</option>
                            <option>Dust-vehicles</option>
                            <option>Human obstruction</option>
                            <option>Fog/Nature</option>
                            <option>Other</option>
                        </select>
                    </label>
                    <div ng-show="Enviro.obscuredReason == 'Other'">
                        <div class="item item-input-inset">
                            <label class="item item-input-wrapper">     
                                <span class="input-label">Description:</span>
                                <input placeholder="(impairments)" type="text" ng-model="Enviro.obscuredOther">
                            </label>
                            <button class="button button-balanced icon ion-ios-upload-outline" ng-click="Enviro.save(Session.id)">&nbsp; Update</button>
                        </div>
                    </div>
                </div>
            </div><!--end visibility options-->
            
            <div class="spacer spacer-20"></div> 
            <ion-item class="item-divider list-head">Environmental Noise</ion-item>
            <label class="item item-select">
                <span class="input-label">Level:</span>
                <select ng-model="Enviro.noiseLevel" ng-change="Enviro.save(Session.id)">
                    <option selected disabled></option>
                    <option>Low</option>
                    <option>Low-Medium</option>
                    <option>Medium</option>
                    <option>Medium-High</option>
                    <option>High</option>
                </select>
            </label>
            <!--end noise options-->
            
            <div class="spacer spacer-20"></div>        
            <div class="row item-divider expando-pane">
                <div class="col col-center"><h4>Food Sources</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showFoodSource, 'button button-small button-icon icon ion-ios-minus-outline':showFoodSource}" ng-click="showFoodSource=!showFoodSource"></a>
                </div>
            </div>            
            <div ng-model="showFoodSource" ng-show="showFoodSource">
            <label class="item item-select">
                <span class="input-label">Type:</span>
                <select ng-model="Enviro.foodSource">
                    <option selected disabled></option>
                    <option>Fish</option>
                    <option>Berries</option>
                    <option>Green Vegetation</option>
					<option>Other</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Availability:</span>
                <select ng-model="Enviro.foodSourceAvail">
                    <option selected disabled></option>
                    <option>None</option>
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
            </label>
            
            <label class="item item-input">
                <span class="input-label">Comment:</span>
                <input placeholder="Note species and/or describe other" type="text" ng-model="Enviro.foodSourceComment">
            </label>
            <div class="item pull-right">
                <a class="button button-balanced icon ion-plus" ng-click="Enviro.addFood(Session.id)">&nbsp;Add</a>           
            </div>		
            
            <!--show active food sources with remove option-->
            <ion-item ng-show="Enviro.foodSources.length > 0" class="item-divider">Available food sources:</ion-item>
            <ion-list>
                <ion-item ng-repeat="food in Enviro.foodSources" class="item item-button-right">
                    <p>{{food.added + " " + food.src + ", " + food.avail + "-Available" + " id: " + food.id}}</p>
                    <p ng-show="food.desc != ''">{{food.desc}}</p>
                    <a class="button button-icon icon ion-close-circled" ng-click="Enviro.clearFood(food.id, Session.id)"></a>
                </ion-item>
            </ion-list>
            </div>
            <div class="spacer spacer-20"></div>  
            </div><!--end foodSources-->

            <div ng-show="debug">
                <br><br>
                <button ng-click="testSelect()">Test select</button>
                <br><br>
                Insert Results: {{insertResult}}
                <br>
                Enviro Results: {{selectResult}}
                <br>
                Food Results: {{foodResult}}
                <br/>
                <br/>
            </div>

        </form>
        <div class="spacer spacer-40"></div>  
    </ion-content>
</ion-view>