<ion-view style="" title="Environment">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Noise level</span>
                <select>
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
            </label>
            <div style="width: 283px; height: 40px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Environment Change</span><textarea placeholder="Description"> </textarea>
            </label>
            <div style="width: 283px; height: 40px;" class="spacer"></div>
        </form>
        <button class="button button-positive  button-block" id="environment-button31">Record</button>
        <a class="button button-assertive  button-block icon ion-android-exit" id="environment-button45" ui-sref="tabsController.reviewSession">&nbsp;End Session</a>
    </ion-content>
</ion-view>