<ion-view style="" title="Comment">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <div style="width: 283px; height: 37px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Comment here</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button class="button button-positive  button-block" id="human-button32">Record Comment</button>
    </ion-content>
</ion-view>