<ion-view style="" title="Comment">
    <div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button button-icon icon-left ion-ios-close">End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <div style="width: 283px; height: 37px;" class="spacer"></div>
            <h3>General Comment</h3>
            <label style="" class="item item-input">
                <textarea rows="15" cols="50" placeholder="Type here"> </textarea>
            </label>
        </form>
        <button class="button button-positive  button-block" id="human-button32">Record Comment</button>
    </ion-content>
</ion-view>