<ion-view style="" title="Focal Tab">
	
    <div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-settings">hi</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="Bear" icon="ion-ios-paw" ui-sref="focalTab.bear">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Human" icon="ion-ios-person" ui-sref="focalTab.human" >
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Environment" icon="ion-ios-cloud" ui-sref="focalTab.environment">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Comment" icon="ion-ios-compose" ui-sref="focalTab.comment">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>		
        <ion-tab style="" title="Camera" icon="ion-ios-camera" ui-sref="focalTab.camera">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>			
    </ion-tabs>
</ion-view>