<ion-view style="" title="Focal - Bear">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">Focal Bears in the session</ion-item>
            

        </ion-list>
        <a class="button button-positive  button-block" id="focal-button36" ui-sref="focalTab.addNewBear">Add Bear</a>
        <a class="button button-assertive  button-block icon ion-android-exit" id="focal-button43" ui-sref="focalTabsController.reviewSession">&nbsp;End Session</a>
    </ion-content>
</ion-view>