<ion-view style="" title="Bear Watch">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="text-align: center;">
            <img src="img/home.jpg" height="50%" width="50%">
        </div>
        <button class="button button-positive  button-block button-outline icon ion-arrow-return-right" >&nbsp;Continue Session</button>
        <a style="" class="button button-balanced  button-block button-outline icon ion-android-create" id="start-button3"  ui-sref="startNewSession">&nbsp;New Session</a>
        <a style="" class="button button-royal  button-block button-outline icon ion-eye" ui-sref="reviewList">&nbsp; Review Session</a>
    </ion-content>
</ion-view>