<ion-view style="" title="Human">
    <div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button button-icon icon-left ion-ios-close" ng-click = "showConfirm()">End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <h3>Humans in each Zone</h3>

            <div style="border: 0.5px groove;" class="row item-divider">
                <div class="col col-center"><h4>Human-Zone Matrix</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneMatrix, 'button button-small button-icon icon ion-ios-minus-outline':showZoneMatrix}" ng-click="showZoneMatrix=!showZoneMatrix"></a>
                </div>
            </div>
            <div ng-model="showZoneMatrix" ng-show="showZoneMatrix">
                <ion-list>
                    <ion-item ng-repeat="zone in zones">
                        <label style="" class="item item-input">
                            <span class="input-label">Zone: {{zone}}</span>
                            <input placeholder="# of Humans" type="number">
                        </label>
                    </ion-item>
                </ion-list>
            </div><!--end zoneMatrix-->
            
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <div style="border: 0.5px groove;" class="row item-divider">
                <div class="col col-center"><h4>Zone Mapping</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneSchema, 'button button-small button-icon icon ion-ios-minus-outline':showZoneSchema}" ng-click="showZoneSchema=!showZoneSchema"></a>
                </div>
            </div>
            <div ng-model="showZoneSchema" ng-show="showZoneSchema" class="center" style="text-align: center;">
                <img style="padding-top: 20px;" ng-src="{{zoneImgURI}}">
            </div>            
            
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <ion-item style="" class="item-divider">Human Activities Occuring</ion-item>
            <ion-toggle ng-model="motorizedHuman" toggle-class="toggle-balanced">Motorized</ion-toggle>
            <div ng-show="motorizedHuman">
                <!--div for persisting motorized actions--> 
                <div ng-bind-html="motorizedAction"></div>
                <ion-checkbox ng-model="aircraft">Aircraft</ion-checkbox>
                <div ng-show="aircraft">
                    <div style="" class="item-text-wrap">Movements
                        <div style="width: 283px; height: 10px;" class="spacer"></div>
                        <label ng-repeat="motoAction in motoActions">
                            <button class="button button-energized button-outline" ng-onclick="recordMoto('aircraft', motoAction)">{{ motoAction }}</button>
                        </label>
                    </div>
                    
                   <div style="width: 283px; height: 20px;" class="spacer"></div> 
                </div><!--end aircraft-->
                
                <ion-checkbox ng-model="atv">ATV</ion-checkbox>
                <div ng-show="atv">
                    
                    <div style="width: 283px; height: 20px;" class="spacer"></div>
                </div><!--end ATV-->
                
                <ion-checkbox ng-model="jetBoat">Motorized Boat</ion-checkbox>
                <div ng-show="jetBoat">
                    
                    <div style="width: 283px; height: 20px;" class="spacer"></div>
                </div><!--end jetBoat-->
                
                <ion-checkbox ng-model="vehicle">Vehicle</ion-checkbox>
                <div ng-show="vehicle">
                    <div style="width: 283px; height: 20px;" class="spacer"></div>
                </div><!--end vehicle-->
            </div>
            
            <!--non-motorized-->
            <ion-toggle ng-model="nonMotorizedHuman" toggle-class="toggle-balanced">Non-Motorized</ion-toggle>
            <div ng-show="nonMotorizedHuman">
                <ion-checkbox ng-model="Personnel">Official or Agency Personnel</ion-checkbox>
                <ion-checkbox ng-model="Angler">Angler</ion-checkbox>
                <ion-checkbox ng-model="Kayaking_canoeing">Kayaking/canoeing</ion-checkbox>
                <ion-checkbox ng-model="Hike_Walk">Hike/Walk</ion-checkbox>
                <ion-checkbox ng-model="Run">Run</ion-checkbox>
                <ion-checkbox ng-model="Picnic">Picnic</ion-checkbox>
                <ion-checkbox ng-model="Photography">Photography</ion-checkbox>
                <ion-checkbox ng-model="Playing">Playing</ion-checkbox>
                <ion-checkbox ng-model="Wildlife_Viewing">Wildlife Viewing</ion-checkbox>
                <ion-checkbox ng-model="Biking">Biking</ion-checkbox>
                <ion-checkbox ng-model="Unobservable">Unobservable</ion-checkbox>
                <ion-checkbox ng-model="nonMotoOther">Other</ion-checkbox>                
                <div ng-show="nonMotoOther">
                    <label style="" class="item item-input">
                        <span class="input-label">Other Non-Motorized</span>
                        <input placeholder="Description" type="text">
                    </label>
                </div>
            </div>
                        
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <ion-item style="" class="item-divider">Reaction to Bear(s) - Worst Behaving Human</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Behaviour</span>
                <select>
                    <option selected disabled></option>
                    <option>Quietly observing, minimal movement</option>
                    <option>Loud disturbance, minimal movement</option>
                    <option>Quietly observing, excessive movement</option>
                    <option>Loud disturbance, excessive movement</option>
                    <option>Approach bear(s) intentionally</option>
                    <option>Move away from bear intentionally</option>
                    <option>Angling</option>
                    <option>Other</option>
                </select>
            </label>
            
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Comment</span><textarea placeholder=""> </textarea>
            </label>
        </form>
      </ion-content>
</ion-view>