<ion-view style="" title="Human">
    <div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button button-icon icon-left ion-ios-close" ng-click = "showConfirm()">End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <h3>Humans in each Zone</h3>

            <div style="border: 0.5px groove;" class="row item-divider">
                <div class="col col-center"><h4>Human-Zone Matrix</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneMatrix, 'button button-small button-icon icon ion-ios-minus-outline':showZoneMatrix}" ng-click="showMatrix()"></a>
                </div>
            </div>
            <div ng-model="showZoneMatrix" ng-show="showZoneMatrix">
                <div class="row" style="flex-wrap: wrap;">
                    <div class="col col-20" ng-repeat="zone in Human.zoneMatrix">
                        <label style="" class="item item-input">
                            <span class="input-label">{{zone.zone}}: </span>
                            <input placeholder="# Humans" type="number" ng-model="zone.humans" ng-change="Human.save()">
                        </label>
                    </div>
                </div>
            </div><!--end zoneMatrix-->
            
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <div style="border: 0.5px groove;" class="row item-divider">
                <div class="col col-center"><h4>Zone Mapping</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneSchema, 'button button-small button-icon icon ion-ios-minus-outline':showZoneSchema}" ng-click="showZoneSchema=!showZoneSchema"></a>
                </div>
            </div>
            <div ng-model="showZoneSchema" ng-show="showZoneSchema" class="center" style="text-align: center;">
                <img style="padding-top: 20px;" ng-src="{{zoneImgURI}}">
            </div>            
            
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <ion-item style="" class="item-divider">Human Activities Occurring</ion-item>
            <ion-toggle ng-model="motorizedHuman" toggle-class="toggle-balanced">Motorized</ion-toggle>
            <div ng-show="motorizedHuman">
                <!--show active motorized humans with remove option-->
                <ion-item ng-show="activeVehicles.length != 0" class="item-divider">Active Motorized Human</ion-item>
                <div>
                    <div ng-repeat="moto in activeVehicles" class="item item-button-right">
                        {{moto.time + " " + moto.name + " " + moto.desc}}
                        <a class="button button-icon icon ion-close-circled" ng-click="recordMoto(moto, 'departed', '')"></a>
                    </div>
                    <div style="width: 283px; height: 20px;" class="spacer"></div>
                </div>
                
                <!--show Motorized selection options-->
                <ion-item class="item-divider">Motorized Human Type</ion-item>
                
                <!--aircraft-->
                <ion-checkbox ng-model="aircraft.checked">Aircraft</ion-checkbox>
                <div ng-show="aircraft.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label style="" class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="aircraft.txt" placeholder="e.g. helicopter, circling, etc." type="text">
                        </label>
                    </div>
                    <div style="" class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-positive button-outline': motoAction == 'Passing through', 'button button-assertive button-outline': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('Aircraft', motoAction, aircraft.txt); aircraft.checked = !aircraft.checked">{{ motoAction }}</button>
                        </label>
                    </div>
                </div>
                <div ng-show="aircraft.checked" style="width: 283px; height: 20px;" class="spacer"></div> 
                <!--end aircraft-->
                
                <!--atv-->
                <ion-checkbox ng-model="atv.checked">ATV</ion-checkbox>
                <div ng-show="atv.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label style="" class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="atv.txt" placeholder="e.g. Tour, private, etc." type="text">
                        </label>
                    </div>
                    <div style="" class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-positive button-outline': motoAction == 'Passing through', 'button button-assertive button-outline': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('ATV', motoAction, atv.txt); atv.checked = !atv.checked">{{ motoAction }}</button>
                        </label>
                    </div>           
                </div>
                <div ng-show="atv.checked" style="width: 283px; height: 20px;" class="spacer"></div>
                <!--end ATV-->
                
                <!--motoBoat-->
                <ion-checkbox ng-model="motoBoat.checked">Motorized Boat</ion-checkbox>
                <div ng-show="motoBoat.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label style="" class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="motoBoat.txt" placeholder="e.g. Commercial, private, jetski, etc." type="text">
                        </label>
                    </div>
                    <div style="" class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-positive button-outline': motoAction == 'Passing through', 'button button-assertive button-outline': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('Boat', motoAction, motoBoat.txt); motoBoat.checked = !motoBoat.checked">{{ motoAction }}</button>
                        </label>
                    </div>
                </div>
                <div ng-show="motoBoat.checked" style="width: 283px; height: 20px;" class="spacer"></div>
                <!--end motoBoat-->
                
                <!--vehicle-->
                <ion-checkbox ng-model="vehicle.checked">Vehicle</ion-checkbox>
                <div ng-show="vehicle.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label style="" class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="vehicle.txt" placeholder="e.g. Car, jeep, parked, etc." type="text">
                        </label>
                    </div>
                    <div style="" class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-positive button-outline': motoAction == 'Passing through', 'button button-assertive button-outline': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('Vehicle', motoAction, vehicle.txt); vehicle.checked = !vehicle.checked">{{ motoAction }}</button>
                        </label>
                    </div>
                </div>
                <div ng-show="vehicle.checked" style="width: 283px; height: 20px;" class="spacer"></div>
                <!--end vehicle-->
            </div>
            <div ng-show="motorizedHuman" style="width: 283px; height: 20px;" class="spacer"></div>
            
            <!--non-motorized-->
            <ion-toggle ng-model="nonMotorizedHuman" toggle-class="toggle-balanced">Non-Motorized</ion-toggle>
            <div ng-show="nonMotorizedHuman">
                <div class="row" style="flex-wrap: wrap;">
                    <div class="col col-33" ng-repeat="class in Human.nonMoto">
                        <ion-checkbox ng-model="class.checked" ng-change="Human.save()">{{class.type}}</ion-checkbox>                
                    </div>
                </div>
                <div ng-show="Human.nonMoto[10].checked">
                    <label style="" class="item item-input">
                        <span class="input-label">Other Non-Motorized</span>
                        <input placeholder="Description" type="text" ng-model="nonMotoOther">
                    </label>
                </div>
            </div>
                        
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <ion-item style="" class="item-divider">Human Behaviour (worst in group)</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Behaviour</span>
                <select ng-model="Human.behavior" ng-change="Human.save()">
                    <option selected disabled></option>
                    <option>Quietly observing, minimal movement</option>
                    <option>Loud disturbance, minimal movement</option>
                    <option>Quietly observing, excessive movement</option>
                    <option>Loud disturbance, excessive movement</option>
                    <option>Approach bear(s) intentionally</option>
                    <option>Move away from bear intentionally</option>
                    <option>Other</option>
                </select>
            </label>
            
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">     
                    <span class="input-label">Comment:</span>
                    <input type="text" placeholder="Describe human activities/interactions" ng-model="Human.comment"> </textarea>
                </label>
                <button class="button button-balanced icon ion-ios-upload-outline" ng-click="Human.save()">&nbsp; Update</button>
            </div>
            <div style="width: 283px; height: 20px;" class="spacer"></div>
        </form>
      </ion-content>
</ion-view>