<ion-view style="" title="Log 1) 12:34 Bear #1 Spotted">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h3 style="">March 11 2016 13:43 J. Cumiskey</h3>
        <div style="width: 283px; height: 56px;" class="spacer"></div>
        <div style="">
            <p>Log Description:</p>

            <p>Bear #1 Spotted at 12:34:56</p>

            <p>Weather - Rain (light)</p>
        </div>
        <a class="button button-balanced  button-block icon ion-plus" id="log11234Bear1Spotted-button26" ui-sref="addComment">Add Comment</a>
    </ion-content>
</ion-view>