<ion-view style="" title="Log 4) 12:45 Picture Taken">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="text-align: center;">
            <img src="img/S1dXyuWaSzabuZWkRcnL_Coastal-brown-bears-eating-fish_B8R3143-Geographic-Harbour-Katmai-NP-Alaska.jpg" height="auto" width="100%">
        </div>
        <div style="">
            <p>Focal Bear(s) in this picture: Bear #1</p>
        </div>
        <form style="" class="list"></form>
        <div style="">
            <p>Comment: This is a beautiful bear.</p>
        </div>
        <button class="button button-balanced  button-block icon ion-edit" id="log41245PictureTaken-button30">Edit Comment</button>
        <form style="" class="list"></form>
        <button class="button button-assertive  button-icon icon-left ion-paperclip" style="color: rgb(243, 18, 45);" id="log41245PictureTaken-button28">Detach Picture From Session</button>
        <a class="button button-positive  button-block" id="log41245PictureTaken-button29" ui-sref="tabsController.reviewSession">Back</a>
    </ion-content>
</ion-view>