<ion-view style="" title="New Session - Food Sources">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">Food Sources</h2>
        <form style="" class="list">
            <ion-item style="" class="item-divider">Add Food Source</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Food Source</span>
                <select>
                    <option>Fish</option>
                    <option>Berries</option>
                    <option>Green Vegetation</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Availability</span>
                <select>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Information Source</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Comment</span>
                <input placeholder="Note Species " type="text">
            </label>
            <button class="button button-balanced  button-block icon ion-plus" id="newSessionFoodSources-button15">&nbsp;Add Food Source</button>
            <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionFoodSources-button12" ui-sref="newSessionMode">Next</a>
        </form>
        <form style="" class="list"></form>
        <ion-list style=""></ion-list>
        <form style="" class="list"></form>
    </ion-content>
</ion-view>