<ion-view style="" title="New Session - Mode">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">Observation Mode</h2>
        <form style="" class="list"></form>
        <form style="" class="list">
            <ion-item style="" class="item-divider">Select Mode</ion-item>
        </form>
        <a class="button button-positive  button-block" id="newSessionMode-button34" ui-sref="tabsController.focal">Focal</a>
        <button class="button button-positive  button-block" id="newSessionMode-button35">Scanning</button>
    </ion-content>
</ion-view>