<ion-view style="" title="New Session - Location">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">Location</h2>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Park/Area:</span>
                <input placeholder="" type="text">
            </label>
            <ion-item style="" class="item-divider">Zones for Session</ion-item>
            <ion-checkbox style="">Zone A</ion-checkbox>
            <ion-checkbox style="">Zone B</ion-checkbox>
            <ion-checkbox style="">Zone C</ion-checkbox>
            <ion-checkbox style="">Zone D</ion-checkbox>
            <ion-checkbox style="">Zone E</ion-checkbox>
        </form>
        <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionLocation-button13" ui-sref="newSessionProtocolMode">Next</a>
    </ion-content>
</ion-view>