<ion-view style="" title="New Session - Protocol Mode">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">Protocol Mode</h2>
        <form style="" class="list">
            <ion-item style="" class="item-divider">Select Mode</ion-item>
            <ion-radio style="">Platform</ion-radio>
            <ion-radio style="">Boating</ion-radio>
            <ion-radio style="">Blind</ion-radio>
            <ion-radio style="">Other</ion-radio>
        </form>
        <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionProtocolMode-button7" ui-sref="newSessionEnvironmentVariables">Next</a>
    </ion-content>
</ion-view>