<ion-view style="" title="New Session - Environment Variables">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">Environment Variables</h2>
        <form style="" class="list">
            <ion-item style="" class="item-divider">Water</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Water Body</span>
                <select>
                    <option>Not Selected</option>
                    <option>River</option>
                    <option>Lake</option>
                    <option>Estuary</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Water Level</span>
                <select>
                    <option>Not Selected</option>
                    <option>High</option>
                    <option>Medium-High</option>
                    <option>Medium</option>
                    <option>Medium-Low</option>
                    <option>Low</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Water Flow</span>
                <select>
                    <option>Not Selected</option>
                    <option>Fast</option>
                    <option>Medium-Fast</option>
                    <option>Medium</option>
                    <option>Medium-Slow</option>
                    <option>Slow</option>
                </select>
            </label>
        </form>
        <form style="" class="list">
            <ion-item style="" class="item-divider">Weather</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Sky</span>
                <select>
                    <option>Clear</option>
                    <option>Partly Cloudy</option>
                    <option>Heavy clouds</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Precipitation</span>
                <select>
                    <option>Dry</option>
                    <option>Light Rain</option>
                    <option>Heavy Rain</option>
                </select>
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Wind</span>
                <select>
                    <option>Calm</option>
                    <option>Light Wind</option>
                    <option>Strong Wind</option>
                </select>
            </label>
            <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionEnvironmentVariables-button9" ui-sref="newSessionObserverSVisibility">Next</a>
        </form>
    </ion-content>
</ion-view>