<ion-view style="" title="New Session - Observer's Visibility">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list"></form>
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Area Visibility</span>
                <select>
                    <option>Excellent</option>
                    <option>Good</option>
                    <option>Partly Obscured</option>
                    <option>Mostly Obscured</option>
                </select>
            </label>
            <div style="width: 283px; height: 55px;" class="spacer"></div>
            <h5 style="">If Obscured Specify Reason</h5>
            <label style="" class="item item-select">
                <span class="input-label">Reason</span>
                <select>
                    <option>None</option>
                    <option>Dust-vehicles</option>
                    <option>Human obstruction</option>
                    <option>Fog/ Nature</option>
                </select>
            </label>
            <div style="height: 100px;" class="spacer"></div>
            <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionObserverSVisibility-button33" ui-sref="newSessionFoodSources">Next</a>
        </form>
    </ion-content>
</ion-view>