<ion-view style="" title="Observation Mode">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">Observation Mode</h2>
        
		<form style="" class="list">
            <ion-item style="" class="item-divider">Select Mode</ion-item>
            <ion-radio style="">Focal</ion-radio>
            <ion-radio style="">Scanning</ion-radio>
			<ion-radio style="">Opportunistic</ion-radio>
        </form>
		<button style="" class="button button-balanced  button-block" ui-sref="tab.bear">&nbsp; Start Session</button>
    </ion-content>
</ion-view>