<ion-view style="" title="Review - Session">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">Session Variables</ion-item>
        </ion-list>
        <div style="">
            <p>Name: March 11 2016 13:43 J. Cumiskey</p>

            <p>Field Agent(s): J. Cumiskey (Expert)</p>

            <p>Location: Tweedsmere Park</p>

            <p>Zone(s): A, B, D</p>

            <p>Start Time: March 11, 2016 13:43</p>

            <p>End Time: March 11, 2016 16:11</p>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-divider">Food Sources</ion-item>
        </ion-list>
        <div style="">
            <p>Fish Availability: High, Source: DFO</p>

            <p>Berry Availability: High, Source: Observed</p>

            <p>Green Vegetation Availability: High, Source: Observed</p>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-divider">Water</ion-item>
        </ion-list>
        <div style="">
            <p>Water Body: River</p>

            <p>Water Level: High</p>

            <p>Water Flow: Fast</p>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-divider">Focal Bear #1</ion-item>
        </ion-list>
        <div style="">
            <p>Name: Bear #1</p>

            <p>Gender: Female</p>

            <p>Number of cubs: 2</p>

            <p>Age: Adult</p>

            <p>Species: Grizzly</p>
        </div>
        <ion-list style=""></ion-list>
        <ion-list style="">
            <ion-item style="" class="item-divider">Session Logs</ion-item>
            <ion-list style="">
                <ion-item style="">1) 12:34 - Bear #1 Spotted</ion-item>
                <ion-item style="">2) 12:35 - Bear #1 Sex Identified</ion-item>
                <ion-item style="">3) 12:40 - Bear #1 Departed</ion-item>
                <ion-item style="">4) 12:45 - Picture Taken</ion-item>
            </ion-list>
        </ion-list>
        <button class="button button-balanced  button-block icon ion-plus" id="reviewSession-button19">&nbsp;Save</button>
        <ion-list style=""></ion-list>
        <ion-list style=""></ion-list>
        <button class="button button-positive  button-block" id="reviewSession-button24">Upload Session</button>
        <button class="button button-assertive  button-block" id="reviewSession-button25">Delete Session</button>
        <button class="button button-light  button-block icon ion-android-home" id="reviewSession-button46">&nbsp;Home</button>
    </ion-content>
</ion-view>