<ion-view title="Review">
    <div>
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="left">
                <a class="button icon-left ion-home button-small button-balanced" ui-sref="home">&nbsp;Home</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header container" overflow-scroll="true" padding="true">
        <div class="spacer spacer-20"></div>

        <ion-item class="item-divider list-head">Completed Sessions</ion-item>
        <ion-list>
        </ion-list>
        <div class="spacer spacer-20"></div>
        <div ng-controller="reviewListCtrl">
            <br/>
            Mail Progress: {{mailProgress}}
            <br/>
            Delete Result: {{deleteResult}}
            <br/>
            Insert Result: {{insertResult}}
            <br/>
            Select Result: {{selectResult}}
            <br/>
            <button class="button" ng-click="reviewSaveSendCSV()">Save & Send CSV</button>
            <button class="button" ng-click="reviewSendPicture()">Send a Picture</button>
		</div>
        <div class="spacer spacer-40"></div>
	</ion-content>
</ion-view>