<ion-view style="" title="Set Sesssion Variables">
	<ion-content class="has-header" overflow-scroll="true" padding="true">
        <!--debug div-->
            <div ng-show="debug" ng-controller="dbTest">
                <h2 style="">Debug Info</h2>
                <label style="" class="item item-input">
                    <span class="input-label" >TestName:</span>
                    <input placeholder="First Initial &amp; Surname" type="text" ng-model="data">                       
                </label>
                <div>
                    <br/>
                    <br/><br/>
                    Internet Connection: {{ internet }}
                    <br>
                    Result: {{ result }}
                    <br>
                    Status: {{ status }}
                    <br/>
                    Session test: {{ test }}
                    <br/>
                    Enviro test: {{ enviroTest }}
                    <br/>

                    <button class="button" ng-click="insert()">insert</button>
                    <button class="button" ng-click="select()">select</button>
                    <button class="button" ng-click="testing()">Session Test</button>
                    <button class="button" ng-click="enviroTesting()">Enviro Test</button>
                    <button class="button" ng-click="DB.fail()">DBFail test</button>
                    <br/><br/>
                </div>
            </div><!--end debug-->
        
		<h2 style="">Add Observer</h2>
        <form name="startForm" novalidate  ng-submit="validate(startForm)" class="list">

            <!--Session observers-->
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">		
                <span class="input-label" >First Name:</span>
                <input type="text" ng-model="Session.firstName">
                </label>
                <label class="item item-input-wrapper">     
                <span class="input-label" >Last Name:</span>
                <input type="text" ng-model="Session.lastName">
                </label>
                <button class="button button-balanced icon ion-person-add" ng-click="addObserver()">&nbsp; Add Observer</button>
            </div>
            
            <!--show active observer names with remove option-->
            <ion-item ng-show="Session.nameResult.length != 0" class="item-divider">Observers in Session</ion-item>
            <ion-list>
                <ion-item ng-repeat="name in Session.nameResult" class="item item-button-right">
                    {{name}}
                    <a class="button button-icon icon ion-close-circled" ng-click="clearObserver(name)"></a>
                </ion-item>
            </ion-list>
            <div style="width: 283px; height: 30px;" class="spacer"></div>

            <div ng-show="submitted && Session.nameResult.length == 0 && (Session.firstName == '' || Session.lastName == '')" >
                <div class="error-container">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        First and last name are required fields!
                    </div>
                  <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>
            <div ng-show="submitted && Session.firstName != '' && Session.lastName !=''" >
                <div class="error-container">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        Observer needs to be added to session! (press the green button)
                    </div>
                  <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>
            <!--end observers-->
            
            <!--Park-->
			<div style="width: 283px; height: 30px;" class="spacer"></div>
            <h2 style="">Location</h2>
            <div ng-class="{ 'has-errors' : (submitted && startForm.park.$invalid), 'no-errors' : (submitted && startForm.park.$valid && parkChecked)}">
    			<label ng-hide="parkChecked" style="" class="item item-input">
                    <span class="input-label">Park/Area:</span>
                    <input name="park" type="text" ng-model="Session.park" ng-change="changePark()" required>
                </label>
                <ion-item ng-show="parkChecked" class="item item-button-right">
                    {{Session.park}}
                    <a class="button button-icon icon ion-close-circled" ng-click="clearPark()"></a>
                </ion-item>
            </div>

            <div ng-show="submitted && !parkChecked && !startForm.park.$error.required" >
                <div class="error-container">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        You must select parks from the provided list!
                    </div>
                  <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>

            <div ng-show="submitted && startForm.park.$error" ng-messages="startForm.park.$error">
                <div class="error-container">
                  <div ng-messages-include="error-list.html"></div>
                  <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>

            <!-- Search box for park names-->
            <label class="list" ng-show="Session.park.length > 0 && showList ">
                <ion-item class="item-divider">Select Park</ion-item>
                <div ng-repeat="park in parkNames | filter:Session.park | limitTo:4 ">
                    <ion-radio ng-model="Session.park" value="{{park}}" ng-click="parkSelected()" required>{{park}}</ion-radio>
                </div>
                <div style="width: 283px; height: 10px;" class="spacer"></div>
            </label>
            <!--End Park-->

            <!--Site-->
			<label style="" class="item item-input" ng-class="{ 'has-errors' : (submitted && startForm.site.$invalid), 'no-errors' : (submitted && startForm.site.$valid)}">
                <span class="input-label">Site:</span>
                <input name="site" type="text" ng-model="Session.site" required>
            </label>
            <div ng-show="submitted && startForm.site.$error" ng-messages="startForm.site.$error">
                <div class="error-container">
                  <div ng-messages-include="error-list.html"></div>
                  <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>
            <!--End Site-->

    	    <!--ViewingArea-->
            <div style="width: 283px; height: 30px;" class="spacer"></div>
            <h2>Viewing Area</h2>
            <label class="item item-select" ng-class="{ 'has-errors' : (submitted && startForm.viewingArea.$invalid), 'no-errors' : (submitted && startForm.viewingArea.$valid)}">
                <span class="input-label">Viewing Area:</span>
                <select name="viewingArea" ng-model="Session.viewingArea" required>
                    <option value="Platform">Platform</option>
                    <option value="Boating">Boating</option>
                    <option value="Blind">Blind</option>
    				<option value="Other">Other</option>
                </select>
            </label>
            <div ng-show="Session.viewingArea == 'Other'">
               <label style="" class="item item-input" ng-class="{ 'has-errors' : (submitted && startForm.viewingOther.$invalid), 'no-errors' : (submitted && startForm.viewingOther.$valid)}">
                   <span class="input-label">Description:</span>
                   <input name="viewingOther" ng-model="Session.viewingAreaOther" placeholder="Description" type="text" ng-required="Session.viewingArea == 'Other'">
               </label>
            </div>

            <div ng-show="submitted && startForm.viewingOther.$error" ng-messages="startForm.viewingOther.$error">
                <div class="error-container">
                  <div ng-messages-include="error-list.html"></div>
                  <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>

            <div ng-show="submitted && startForm.viewingArea.$error" ng-messages="startForm.viewingArea.$error">
                <div class="error-container">
                  <div ng-messages-include="error-list.html"></div>
                  <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>
            <!--End ViewingArea-->

            <!--Stationary-->
            <div class="list">
                <ion-item class="item-divider" ng-class="{ 'has-errors' : (submitted && startForm.stationary.$invalid), 'no-errors' : (submitted && startForm.stationary.$valid)}">Select Mode:</ion-item>
                <ion-radio name="stationary" ng-model="Session.stationary" value="Stationary" ng-required="Session.stationary == ''">Stationary</ion-radio>
                <ion-radio name="stationary" ng-model="Session.stationary" value="Mobile" ng-required="Session.stationary == ''">Mobile</ion-radio>
            </div>

            <div class="error-container" ng-show="submitted && startForm.stationary.$error" ng-messages="startForm.stationary.$error">
                <div ng-messages-include="error-list.html"></div> 
                <div style="width: 283px; height: 10px;" class="spacer"></div>
            </div>
            <!--End Stationary-->
    	   
            <!--Zone type-->
    		<div style="width: 283px; height: 30px;" class="spacer"></div>
    		<h2>Zone Type</h2>
    		<ion-item class="item-divider">Zone</ion-item>
            <label class="item item-select" ng-class="{ 'has-errors' : (submitted && startForm.zoneSchema.$invalid), 'no-errors' : (submitted && startForm.zoneSchema.$valid)}">
                <span class="input-label">View Type:</span>
                <select name="zoneSchema" ng-model="Session.zoneSchema" ng-change="showZoneSchema(Session.zoneSchema)" required>
                    <option>River</option>
                    <option>Estuary</option>
    				<option>Terrestrial</option>
    			</select>
            </label>
            <div ng-show="submitted && startForm.zoneSchema.$error" ng-messages="startForm.zoneSchema.$error">
                <div class="error-container">
                    <div ng-messages-include="error-list.html"></div>
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                </div>
            </div>

            <div ng-bind-html="zoningSchemaPic" class="center" style="text-align: center;">
            </div>
                
    		<label style="" class="item item-input">
    			<span class="input-label">Comment:</span>
    			<input ng-model="Session.comment" type="text" placeholder="Additional Zone Information">
            </label>
            <!--End Zone type-->
    	    
    	    <div style="width: 283px; height: 20px;" class="spacer"></div>
    	    <button class="button button-positive button-block icon-right ion-android-arrow-forward" type="submit">Next</button>
        </form><!--End startForm-->

        <div ng-show="true">
            <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" ui-sref="startNewSessionCont">Skip Validation</a>
        </div>
	   	</ion-content>
</ion-view>
<script id="error-list.html" type="text/ng-template">  
    <div class="error" ng-message="required">
        <i class="ion-alert-circled"></i> 
        The field above is required!
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-alert-circled"></i> 
        Minimum length of this field is 2 characters!
    </div>
    <div class="error" ng-message="maxlength">
        <i class="ion-alert-circled"></i> 
        Maximum length of this field is 25 characters!
    </div>
</script> 