<ion-view title="Session Setup">
    <ion-content class="has-header container" overflow-scroll="true" padding="true">
        
        <div class="spacer spacer-10"></div>
        <div class="row">
            <div class="col col-33">
            </div>
            <div class="col col-33 text-center">
                <h2>Environment</h2>
            </div>
            <div class="col col-33 text-right">
                <a ng-click="showHelp=!showHelp"><i class="ion-help-circled help"></i></a>
            </div>
        </div>
        <!--session setup progress-->
        <div class="breadcrumb center">
            <i class="ion-ios-circle-outline"></i>
            <i class="ion-ios-circle-filled"></i>
            <i class="ion-ios-circle-outline"></i>
        </div> 
        <div class="spacer spacer-20"></div>

        <!-- Help section-->
        <div ng-model="showHelp" ng-show="showHelp" class="card">
            <div class="container">
                <div class="row border-bottom">
                    <div class="col col-33">
                    </div>
                    <div class="col col-33 col-bottom text-center">
                        <h3>Help Topics</h3> 
                    </div>
                    <div class="col col-33 col-center text-right">
                        <a class="button button-icon icon ion-close-circled" ng-click="showHelp = false"></a>
                    </div>
                </div>
                <div class="spacer spacer-10"></div>
                <div class="row item-divider expando-pane">
                    <div class="col col-center"><h4>General</h4></div>
                    <div class="col col-center text-right">
                        <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!genHelp, 'button button-small button-icon icon ion-ios-minus-outline':genHelp}" ng-click="genHelp=!genHelp"></a>
                    </div>
                </div>
                <div ng-model="genHelp" ng-show="genHelp" class="container">
                    <div class="spacer spacer-10"></div>
                    <p>Fill in the fields below in order to continue setting up your session. It is important to have complete environment at the beginning of a session, updates can be made in the dashboard section.</p>
                    <div class="spacer spacer-10"></div>
                </div>

                <div class="row item-divider expando-pane">
                    <div class="col col-center"><h4>Water Definitions</h4></div>
                    <div class="col col-center text-right">
                        <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!waterHelp, 'button button-small button-icon icon ion-ios-minus-outline':waterHelp}" ng-click="waterHelp=!waterHelp"></a>
                    </div>
                </div>
                <div ng-model="waterHelp" ng-show="waterHelp" class="container">
                    <div class="spacer spacer-10"></div>                    
                    <h4 class="center">Water Body:</h4>
                    <p><strong>High:</strong> definition...</p>
                    <p><strong>Medium:</strong> definition...</p>
                    <p><strong>Low:</strong> definition...</p>

                    <h4 class="center">Water Flow:</h4>
                    <p><strong>Cascade:</strong> definition...</p>
                    <p><strong>Rapid:</strong> definition...</p>
                    <p><strong>Riffle:</strong> definition...</p>
                    <p><strong>Glide:</strong> definition...</p>
                    <p><strong>Pool:</strong> definition...</p>
                    <p><strong>Woody Debris Jam:</strong> definition...</p>

                    <div class="spacer spacer-10"></div>
                </div>

                <div class="row item-divider expando-pane">
                    <div class="col col-center"><h4>Food Sources</h4></div>
                    <div class="col col-center text-right">
                        <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!foodHelp, 'button button-small button-icon icon ion-ios-minus-outline':foodHelp}" ng-click="foodHelp=!foodHelp"></a>
                    </div>
                </div>
                <div ng-model="foodHelp" ng-show="foodHelp" class="container">
                    <div class="spacer spacer-10"></div>                    
                    <p>A maximum of 3 food sources can be specified per session.</p>
                    <div class="spacer spacer-10"></div>
                </div>
            </div>
            <div class="spacer spacer-20"></div>            
        </div><!--End Help-->

        <form class="list">
		<ion-item class="item-divider list-head">Water</ion-item>
            <label class="item item-select">
                <span class="input-label">Water Body:</span>
                <select ng-model="Enviro.waterBody">
                    <option selected disabled></option>
                    <option>River</option>
                    <option>Lake</option>
                    <option>Estuary</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Water Level:</span>
                <select ng-model="Enviro.waterLevel">
                    <option selected disabled></option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Water Flow:</span>
                <select ng-model="Enviro.waterFlow">
                    <option selected disabled></option>
                    <option>Cascade</option>
                    <option>Rapid</option>
                    <option>Riffle</option>
                    <option>Glide</option>
                    <option>Pool</option>
                    <option>Woody debris jam</option>
                </select>
            </label>
			
			<label class="item item-select">
                <span class="input-label">Water Clarity:</span>
                <select ng-model="Enviro.waterClarity">
                    <option selected disabled></option>
                    <option>Sparkling clear</option>
                    <option>Water appears dull, slight discoloration</option>
                    <option>Bottom visible to approx. 3ft, but not distinct</option>
                    <option>Bottom visible to approx. 1ft, but not distinct</option>
                    <option>Cannot see bottom</option>
                </select>
            </label>			
			
			<div class="spacer spacer-20"></div>
			<ion-item class="item-divider list-head">Weather</ion-item>
            <label class="item item-select">
                <span class="input-label">Cloud Cover:</span>
                <select ng-model="Enviro.cloudCover">
                    <option selected disabled></option>
                    <option>0%</option>
                    <option>1% - 50%</option>
                    <option>51% - 99%</option>
                    <option>100%</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Precipitation:</span>
                <select ng-model="Enviro.precipitation">
                    <option selected disabled></option>
                    <option>None</option>
                    <option>Light drizzle</option>
                    <option>Rain</option>
                    <option>Heavy Rain</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Wind:</span>
                <select ng-model="Enviro.wind">
                    <option selected disabled></option>
                    <option>Calm</option>
                    <option>Light air</option>
                    <option>Light breeze</option>
                    <option>Gentle breeze</option>
                    <option>Moderate breeze</option>
                    <option>Fresh breeze</option>
                    <option>Strong breeze</option>
                    <option>High wind moderate gale</option>
                    <option>Gale</option>
                    <option>Strong/severe gale</option>
                    <option>Storm</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Wind direction:</span>
                <select ng-model="Enviro.windDirection">
                    <option selected disabled></option>
                    <option>N</option>
                    <option>S</option>
                    <option>E</option>
					<option>W</option>
                    <option>NW</option>
                    <option>NE</option>
		            <option>SE</option>
                    <option>SW</option>			
					<option>NNW</option>
                    <option>NNE</option>
		            <option>SSE</option>
                    <option>SSW</option>
					<option>WNW</option>
                    <option>ENE</option>
		            <option>WSW</option>
                    <option>ESE</option>					
                </select>
            </label>			
			<label class="item item-input">
              <span class="input-label">Temperature:</span>
              <input placeholder="&#176;C" type="number" ng-model="Enviro.temp">
			</label>
            <label class="item item-input">
                <span class="input-label">Humidity:</span>
                <input placeholder="0 - 100%" type="number" ng-model="Enviro.humid">
            </label>
            <div class="spacer spacer-20"></div>
            
			<ion-item class="item-divider list-head">Area Visibility</ion-item>
            <label class="item item-select">
                <span class="input-label">Quality:</span>
                <select ng-model="Enviro.visibility">
                    <option selected disabled></option>
                    <option>Excellent</option>
                    <option>Good</option>
                    <option>Partly obscured</option>
                    <option>Mostly obscured</option>
                </select>
            </label>
            
            <div ng-show="Enviro.visibility == 'Partly obscured' || Enviro.visibility == 'Mostly obscured'">
                <div class="spacer spacer-20"></div>
                <ion-item class="item-divider">Obstruction</ion-item>
                <label class="item item-select">
                    <span class="input-label">Reason:</span>
                    <select ng-model="Enviro.obscuredReason">
                        <option selected disabled></option>
                        <option>None</option>
                        <option>Dust-vehicles</option>
                        <option>Human obstruction</option>
                        <option>Fog/Nature</option>
                        <option>Other</option>
                    </select>
                </label>
                <div ng-show="Enviro.obscuredReason == 'Other'">
                    <label class="item item-input">
                        <span class="input-label">Description:</span>
                        <input placeholder="Describe visibilty impairments" type="text" ng-model="Enviro.obscuredOther">
                    </label>
                </div>
            </div>
            
            <div class="spacer spacer-20"></div>
            <ion-item class="item-divider list-head">Environmental Noise</ion-item>
            <label class="item item-select">
                <span class="input-label">Level:</span>
                <select ng-model="Enviro.noiseLevel">
                    <option selected disabled></option>
                    <option>Low</option>
                    <option>Low-Medium</option>
                    <option>Medium</option>
                    <option>Medium-High</option>
                    <option>High</option>
                </select>
            </label>
            
            <div class="spacer spacer-20"></div>
            <div ng-show="Enviro.foodSources.length < 4" ng-hide="Enviro.foodSources.length == 3">
    			<ion-item class="item-divider list-head">Food Sources</ion-item>
                <label class="item item-select">
                    <span class="input-label">Type:</span>
                    <select ng-model="Enviro.foodSource">
                        <option selected disabled></option>
                        <option>Fish</option>
                        <option>Berries</option>
                        <option>Green Vegetation</option>
    					<option>Other</option>
                    </select>
                </label>
                <label class="item item-select">
                    <span class="input-label">Availability:</span>
                    <select ng-model="Enviro.foodSourceAvail">
                        <option selected disabled></option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                </label>
                
                <label class="item item-input">
                    <span class="input-label">Comment:</span>
                    <input placeholder="Note species and/or describe other" type="text" ng-model="Enviro.foodSourceComment">
                </label>
                <div class="item pull-right">
                    <a class="button button-balanced icon ion-plus" ng-click="Enviro.addFood()">&nbsp;Add</a>			
                </div>
                <div class="spacer spacer-10"></div>
            </div>
            <div ng-hide="Enviro.foodSources.length < 4" ng-show="Enviro.foodSources.length == 3">
                <ion-item class="item-divider list-head">3 Food Sources Max in Session</ion-item>
            </div>

            <!--show active food sources with remove option-->
            <ion-item ng-show="Enviro.foodSources.length > 0" class="item-divider">Available food sources</ion-item>
            <ion-list>
                <ion-item ng-repeat="food in Enviro.foodSources" class="item item-button-right">
                    <p>{{food.added + " " + food.src + ", Availability: " + food.avail}}</p>
                    <p ng-show="food.desc != ''">{{food.desc}}</p>
                    <a class="button button-icon icon ion-close-circled" ng-click="Enviro.clearFood(food.id)"></a>
                </ion-item>
            </ion-list>            
            <div class="spacer spacer-20"></div>
			
            <a class="button button-positive button-block icon-right ion-android-arrow-forward" id="newSessionObserverSVisibility-button33" ui-sref="observationMode">Next</a>
        </form>
        <div class="spacer spacer-40"></div>
    </ion-content>
</ion-view>