<ion-view style="" title="Set Sesssion Variables">
	<ion-content class="has-header" overflow-scroll="true" padding="true">
		<h2 style="">Add Observer</h2>
        <form style="" class="list">
            <div ng-controller="dbTest">
                <label style="" class="item item-input">
                    <span class="input-label" >Name:</span>
                    <input placeholder="First Initial &amp; Surname" type="text" ng-model="data">
                        <br/><br/>
                        {{ data }}
                </label>
            </div>
            <div style="width: 283px; height: 30px;" class="spacer"></div>
            <button style="" class="button button-balanced  button-block icon ion-plus" id="newSessionObservers-button6">&nbsp; Add Observer</button>
 <!--           <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionObservers-button5" ui-sref="newSessionLocation">Next</a>-->
            
			<div style="width: 283px; height: 30px;" class="spacer"></div>
            <h2 style="">Location</h2>
			<label style="" class="item item-input">
                <span class="input-label">Park/Area:</span>
                <input placeholder="" type="text">
            </label>       
	
		<div style="width: 283px; height: 30px;" class="spacer"></div>
		<h2 style="">Add Zones</h2>
		<ion-item style="" class="item-divider">Zones</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Zone</span>
                <select>
                    <option>Not Selected</option>
                    <option>Zone 1</option>
                    <option>Zone 2</option>
					<option>Zone 3</option>
					<option>Zone 4</option>
					<option>Zone 5</option>
					<option>Zone 6</option>
					<option>Zone 7</option>
					<option>Zone 8</option>
					<option>Zone 9</option>
				</select>
            </label>
		<label style="" class="item item-input">
			<span class="input-label">Add your own zone:</span>
			<input placeholder="Zone #" type="text">
        </label>
		<label style="" class="item item-input">
                <span class="input-label">Description:</span>
                <input placeholder="Zone Description(optional)" type="text">
        </label>
	   <button style="" class="button button-balanced  button-block icon ion-plus" id="newSessionObservers-button6">&nbsp; Add Zone</button>
		
	   
	   	<div style="width: 283px; height: 30px;" class="spacer"></div>
        <h2 style="">Protocol</h2>
		
	   <label style="" class="item item-select">
                <span class="input-label">Selct Protocol</span>
                <select>
                    <option>Not Selected</option>
                    <option>Platform</option>
                    <option>Boating</option>
                    <option>Blind</option>
					<option>Other</option>
                </select>
        </label>
		

			
			<div style="width: 283px; height: 10px;" class="spacer"></div>
			<ion-item style="" class="item-divider">Noise</ion-item>
            <label style="" class="item item-select">
                <span class="input-label">Noise level</span>
                <select>
                    <option>Not Selected</option>
                    <option>Low</option>
                    <option>Medium</option>
					<option>High</option>
				</select>
            </label>
	   </form>
	   <div style="width: 283px; height: 20px;" class="spacer"></div>
	      <a style="" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="newSessionEnvironmentVariables-button9" ui-sref="startNewSessionCont">Continue</a>
	   	</ion-content>
</ion-view>