<ion-view style="" title="Start">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h3 style="">Bear Watch</h3>
        <div style="text-align: center;">
            <img src="img/xneazZO0TkG8yii96ijw_0397-00SKWD0011.jpg" height="auto" width="100%">
        </div>
        <button class="button button-positive  button-block button-outline icon ion-arrow-return-right" id="start-button18">&nbsp;Continue Session</button>
        <a style="" class="button button-balanced  button-block button-outline icon ion-android-create" id="start-button3" ui-sref="newSessionObservers">&nbsp;New Session</a>
        <a style="" class="button button-royal  button-block button-outline icon ion-eye" id="start-button4" ui-sref="reviewList">&nbsp; Review Session</a>
    </ion-content>
</ion-view>