<ion-view style="" title="Camera">
    <div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button button-icon icon-left ion-ios-close" ng-click = "showConfirm()">End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header" overflow-scroll="true" padding="true" ng-controller="tabCameraCtrl">
        <div class="center" style="text-align: center;">
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
            <img ng-show="imgURI === undefined" ng-src="img/pic_placeholder.png">
        </div>
        
        <div ng-show="debug">
            <br/>
            Camera Message: {{camResult}}
            <br/>
            Saved to : {{fileName}}
            <br/>
            Result: {{cameraResult}}
            <br/>
            Mail Progress: {{mailProgress}}
            <br/>
            Delete Result: {{deleteResult}}
            <br/>
            Insert Result: {{insertResult}}
            <br/>
            Select Result: {{selectResult}}
            <br/>
            <!--Image Info: {{imageInfo}}-->
            <br/>
        </div><!--end debug-->
        
        <form style="" class="list">
            <ion-item style="" class="item-divider">Subject(s) in Picture</ion-item>
        </form>
        <button style="" ng-show="imgURI === undefined" ng-click="takePhoto()" class="button button-stable  button-icon icon-left ion-ios-camera-outline" id="camera-button1">Take Picture</button>
        <button style="" ng-show="imgURI !== undefined" ng-click="discardPhoto()" class="button button-stable  button-icon icon-left ion-trash-a" id="camera-button2">Erase Picture</button>
        <button style="" ng-show="imgURI !== undefined" ng-click="choosePhoto()" class="button button-stable  button-icon icon-left ion-archive" id="camera-button3">Record Picture</button>
    </ion-content>
    
</ion-view>